<!DOCTYPE html>
<html>

<head>
    <title>Project-3.0</title>
    <meta charset="UTF-8">
    <style>
        html {
            color-scheme: light dark;
        }

        body {
            width: 35em;
            margin: 0 auto;
            font-family: Tahoma, Verdana, Arial, sans-serif;
        }
    </style>
</head>

<body>
    <h1>Hello, this is Project Gehenna </h1>
    <p>If you see this page, this frontend application is running just fine and you can carry on with next step 
        <strong>working</strong>.</p>
    
    <h2>Backend API Data:</h2>
    <pre>{% if data %}
        {{ data }}
    {% endif %}</pre>

    <p><em>Thank you for using K8's</em></p>
</body>

</html> 